<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-heading">Micro Aplicação - Usuário</div>
        <div class="panel-body fixed-panel">



          <div class="row">
            <div class="col-sm-6">

              <div class="panel panel-primary">
                <div class="panel-heading">Login</div>
                <div class="wrapper">
                  <form [formGroup]="loginForm" (ngSubmit)="finish()">

                    <div class="input-group input-group-md pb-3">
                      <input type="text" class="form-control" id="email-field" formControlName="email" name="email"
                        placeholder="Email">
                    </div>

                    <div class="input-group input-group-md pb-3">
                      <input type="password" class="form-control" id="senha-field" formControlName="senha" name="senha"
                        placeholder="Senha">
                    </div>

                    <div class="input-group input-group-sm pb-3">
                      <button type="button" type="submit"
                        class="btn btn-color btn-md btn-block bold-font">LOGIN</button>
                    </div>

                  </form>
                </div>
              </div>

            </div>

            <div class="col-sm-6">
              
              <div class="panel panel-primary">
                <div class="panel-heading">Cadastro</div>
                <div class="wrapper">
                  <form [formGroup]="cadastroForm">

                    <div class="input-group input-group-md pb-3">
                      <input type="text" class="form-control" id="email-field" formControlName="email" name="email"
                        placeholder="Email">
                    </div>

                    <div class="input-group input-group-md pb-3">
                      <input type="password" class="form-control" id="senha-field" formControlName="senha" name="senha"
                        placeholder="Senha">
                    </div>

                    <div class="input-group input-group-sm pb-3">
                      <button type="button" (click)="cadastro()"
                        class="btn btn-color btn-md btn-block bold-font">CADASTRAR-SE</button>
                    </div>

                  </form>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <product-view user="" message=""></product-view>
    <cart-view message=""></cart-view>
  </div>
</div>